.sidebar {
  height: calc(100vh - 50px);
  background-color: rgb(244, 244, 253);
  position: sticky;
  top: 50px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 18px;
  color: rgb(170, 170, 170);
  padding: 5px;
}

.sidebarList {
  list-style: none;
  padding: 7px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: rgb(53, 46, 70);
}

.sidebarListItem:hover {
  background-color: rgb(212, 212, 255);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

/* My CSS */
.activeRoute {
  background-color: rgb(212, 212, 255);
  font-weight: bold;
}

.sidebarWrapper h3 { 
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.4em;
  color: #57659e;
}

.sidebarWrapper h4 {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 0.6em;
  margin-bottom: 0.25em;
  color: #8d909c;
}